<template>
  <v-card>
    <v-card-title class="justify-space-between">
      <div>Invoice #{{ id }}</div>
      <v-btn color="primary" outlined @click="onUpdateCard">Update</v-btn>
    </v-card-title>
    <v-card-text>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-currency-usd</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-subtitle>Price:</v-list-item-subtitle>
          <v-list-item-title>{{ price }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>mdi-message-reply-text</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-subtitle>Comment:</v-list-item-subtitle>
          <v-list-item-title>{{ comment }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-card-text>
  </v-card>
</template>


<script>
export default {
  props: {
    id: {
      type: String,
      default: ''
    },
    comment: {
      type: String,
      default: ''
    },
    createdAt: {
      type: String,
      default: ''
    },
    price: {
      type: String,
      default: '0'
    }
  },
  methods: {
    onUpdateCard() {
      this.$emit('update', this.$props)
    }
  }
}
</script>