<template>
  <div class="loading-element">
    <v-progress-circular indeterminate size="80" color="primary"></v-progress-circular>
  </div>
</template>


<script>
export default {}
</script>


<style lang="scss">
.loading-element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba($color: #fff, $alpha: 0.3);
  z-index: 1;
  .v-progress-circular {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>