<template>
  <v-app dark>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        {{ title }}
        |
        {{ pageTitle }}
      </v-toolbar-title>
      <v-spacer />
      <v-btn icon @click="switchTheme" title="Switch Theme">
        <v-icon>mdi-invert-colors</v-icon>
      </v-btn>
      <v-btn icon @click="logout" title="Logout">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed app>
      <div class="text-center my-8">
        <v-avatar size="48">
          <v-img src="/v.png"></v-img>
        </v-avatar>
        <div class="mt-4">{{ username }}</div>
      </div>
      <v-list>
        <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-footer fixed app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  middleware: ['auth_middleware', 'set_page_title'],
  data() {
    return {
      drawer: true,
      items: [
        {
          icon: 'mdi-view-dashboard-variant',
          title: 'Dashboard',
          to: '/'
        },
        {
          icon: 'mdi-receipt',
          title: 'Invoices',
          to: '/invoices'
        },
        {
          icon: 'mdi-cog',
          title: 'Settings',
          to: '/settings'
        }
      ],
      title: 'GO2TR'
    }
  },
  methods: {
    async logout() {
      await this.$auth.logout()
      this.$router.push('/login')
    },
    switchTheme() {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark
    }
  },
  computed: {
    username() {
      return this.$auth.user.username
    },
    pageTitle() {
      return this.$store.state.pageTitle
    }
  }
}
</script>
