<template>
  <div>
    <h2>Welcome to GO2TR Dashboard!</h2>
    <p>Please select proper page from left menu.</p>
  </div>
</template>

<script>
export default {
  meta: {
    role: 2,
    title: 'Dashboard'
  },
}
</script>
