<template>
  <div>
    <loading v-if="loadingInvoices" />

    <v-row v-if="!loadingInvoices && invoices.length">
      <v-col cols="12" class="d-flex justify-space-between align-center">
        <div class="title">Your Invoices</div>
        <v-btn color="primary" @click="openInvoiceModal">Add New Invoice</v-btn>
      </v-col>
      <v-col cols="4" v-for="(invoice, index) in invoices" :key="index">
        <invoice-card v-bind="invoice" @update="openInvoiceModal($event, index)" />
      </v-col>
    </v-row>
    <div v-if="!loadingInvoices && !invoices.length">No Invoices!</div>

    <v-dialog v-model="editDialog" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-title>{{ form.id ? 'Invoice #' + form.id : 'New Invoice' }}</v-card-title>
        <v-card-text>
          <v-form v-model="valid" ref="form">
            <v-text-field
              :rules="requiredRules"
              v-model="form.price"
              type="number"
              outlined
              label="Price"
              id="id"
            ></v-text-field>
            <v-textarea
              :rules="requiredRules"
              v-model="form.comment"
              outlined
              label="Comment"
              id="id"
            ></v-textarea>
            <v-btn
              @click="saveInvoice"
              :disabled="!valid"
              :loading="formSubmitting"
              color="primary"
              large
              block
            >Save</v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>


<script>
import Loading from '@/components/Loading'
import InvoiceCard from '@/components/InvoiceCard'
import rules from '@/plugins/rules'
export default {
  components: { Loading, InvoiceCard },
  meta: {
    role: 1,
    title: 'Invoices'
  },
  data() {
    return {
      loadingInvoices: false,
      requiredRules: rules.required,
      invoices: [],
      editDialog: false,
      formTemplate: {
        comment: '',
        id: '',
        price: ''
      },
      valid: false,
      form: {},
      formSubmitting: false,
      editIndex: null
    }
  },
  created() {
    this.getInvoices()
  },
  methods: {
    async getInvoices() {
      this.loadingInvoices = true
      try {
        let { data } = await this.$invoice.getInvoices()
        this.invoices = data
      } catch (e) {}
      this.loadingInvoices = false
    },
    openInvoiceModal(form = false, index = false) {
      if (form) this.form = Object.assign({}, form)
      else this.form = Object.assign({}, this.formTemplate)
      if (index !== false) this.editIndex = index
      this.editDialog = true
      setTimeout(() => {
        this.$refs.form.resetValidation()
      }, 100)
    },
    async saveInvoice() {
      this.formSubmitting = true
      try {
        if (this.form.id) {
          const { data } = await this.$invoice.updateInvoice(this.form)
          this.invoices[this.editIndex] = data
        } else {
          const { data } = await this.$invoice.createInvoice(this.form)
          this.invoices.push(data)
        }
      } catch (e) {}
      this.formSubmitting = false
      this.editDialog = false
    }
  }
}
</script>