<template>
  <div class="login-page">
    <v-card class="mx-auto login-card">
      <v-card-text>
        <v-form v-model="valid">
          <v-text-field
            outlined
            prepend-inner-icon="mdi-account"
            label="Username"
            :rules="requiredRules"
            v-model="form.username"
          ></v-text-field>
          <v-text-field
            outlined
            prepend-inner-icon="mdi-lock"
            label="Password"
            type="password"
            :rules="requiredRules"
            v-model="form.password"
          ></v-text-field>
          <v-btn
            large
            block
            color="primary"
            :outlined="!valid"
            :disabled="!valid"
            @click="login"
          >Login</v-btn>

          <div class="red--text text-center mt-2" v-if="error">{{ error }}</div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>


<style lang="scss">
.login-page {
  .login-card {
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
</style>


<script>
import '@/services/auth.service'
import rules from '@/plugins/rules'
export default {
  layout: 'authentication',
  data() {
    return {
      requiredRules: rules.required,
      valid: false,
      form: {
        username: '',
        password: ''
      },
      error: false
    }
  },
  methods: {
    async login() {
      this.error = false
      try {
        // fetch fake user data
        const user = this.$authentication.login(this.form)
        // set fake user data
        this.$auth.setUserToken(user.token)
        this.$auth.setUser(user)
      } catch (e) {
        console.log(e)
        this.error = e
      }
    }
  }
}
</script>