<template>
  <div>
    <v-card max-width="400">
      <v-card-text>
        <v-form v-model="valid">
          <v-text-field
            prepend-inner-icon="mdi-account"
            outlined
            label="Username"
            :rules="requiredRule"
            v-model="form.username"
          ></v-text-field>
          <v-text-field
            prepend-inner-icon="mdi-lock"
            outlined
            label="New Password"
            type="password"
            :rules="requiredRule"
            v-model="form.password"
          ></v-text-field>
          <v-btn
            color="primary"
            :disabled="!valid"
            large
            block
            @click="updateUser"
            :loading="loading"
          >Save</v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import api from '@/services/endpoints'
import rules from '@/plugins/rules'
export default {
  meta: {
    role: 2,
    title: 'Settings'
  },
  data() {
    return {
      valid: false,
      form: {},
      requiredRule: rules.required,
      loading: false
    }
  },
  created() {
    let { username, id } = this.$auth.user
    this.form = {
      id,
      username,
      password: ''
    }
  },
  methods: {
    async updateUser() {
      this.loading = true
      try {
        await this.$authentication.updateUser(this.form)
        this.$toast.success('Successfully saved!')
      } catch (e) {
        console.log(e)
      }
      this.loading = false
    }
  }
}
</script>